<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.sunspot.progress.ProgressBarActivity"
            android:exported="false"
            android:label="@string/progress_activity_title" />
    </application>

</manifest>
